{% extends "BprsStyleBundle::layout.html.twig" %}
{% block body_main %}
    <div class="page-header">
    <h1>[{{series.abbrevation}}] {{series.title}}</h1>
    <div>
    {{ form(form) }}
{% endblock %}