# This file is a "template" of what your parameters.yml file should look like
parameters:
    flow_program_url:   "http://programm.okto.tv/interface.php/program/broadcasts?type=website_week&startdate[date]=%s&startdate[hour]=00&startdate[minute]=00&length=604800&firstruns=on&repetitions=on"
    flow_program_path:  "/web/uploads/program/website_week_%s.xml"
    delorian_program_url: "http://web/uploads/program/website_week_%s.xml"

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    delorian_db:
        path: "%kernel.root_dir%/delorian.db3"
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    commandline_host: www.yourhost.com
    email_adress: yourbot@example.com
    bot_name: yourbot

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    secure_cookie: false
    xsendfile:              true
    php_path: "/path/to/php"
    worker_queue: "delorian"
    oktolab_media_worker_queue: "delorian_oktolab_media"
    bprs_asset_worker_queue: "deloran_bprs_asset"
    redis_backend: "localhost:6379"
    bprs_asset.junksize: 2000000
    player_url:    "http://path/to/your/player.js"

    bprs_asset_404: "http://yourhost/web/bundles/bprsasset/img/404.png"
    bprs_asset_adapters:
        lta_lager:
            path: "/mnt/lta_v3/LTA Lager"
        lta_v2:
            path: "/mnt/lta_v2/LTAv2"
        posterframe:
            url:  "http://delorian.okto.tv/uploads/posterframes"
            path: "/srv/www/vhosts/DELORIAN/web/uploads/posterframes"
        video:
            url:  "http://delorian.okto.tv/uploads/videos"
            path: "/srv/www/vhosts/DELORIAN/web/uploads/videos"
        cache:
            url: "file:///tmp"
            path: "/tmp"
    oktolab_media_resolutions:
        720p:
            name: 720p
            sortNumber: 1
            video_width: 1280
            video_height: 720
            adapter: video
        HD:
            stereomode:  1
            name: "HD"
            sortNumber: 1
            video_width: 3840
            video_height: 1920
            adapter:    "video"
            video_bitrate: 8000000
            crf_rate:  23
            video_framerate: "25"
            preset:     "medium"

    oktolab_origin_config:
        margin: 2
        position: "top-left"
        logo: "bundles/app/images/player/logo.svg"
        url:  "https://www.okto.tv"
