{% extends "BprsStyleBundle::layout.html.twig" %}
{% block body_main %}
    <div class="page-header">
    <h1>Showing Imported series</h1>
    <div>
    <ul class="list-group">
        {% for series in seriess %}
            <li class="list-group-item"><a href="{{ path('show_series', {'series': series.id}) }}">{{ series.name }}</a> - {{ series.description|default('') }}</li>
        {% endfor %}
    </ul>
{% endblock %}
